<h1>Personal Info</h1>

<h2>Name- <%= @creature.name %></h2>
<h4>Hair Color-<%= @creature.hair_color %></h4>
<h4>Eye Color-<%= @creature.eye_color %></h4>
<h4>Gender-<%= @creature.gender %></h4>
<h4>Age-<%= @creature.age %></h4>
<h4>Alive-<%= @creature.alive %></h4>
<%= link_to 'Back', creatures_path %>